[2015-02-27 14:54] bbsan2k opened #10 "OpenSSL broken on iOS 8.1 and Swift (Xcode 6.1.1)"
Hi,

Currently trying to get your pod to work in a Swift project.
Actually it installs through cocoapods, but when I try to include it, there are some Errors.

To reproduce:
- Create ne Swift only Project
- Use latest pod on cocoapods 0.3.6.rc.1
- Include <openssl/aes.h> in bridging header

Looks like there are some headers missing.

[2015-02-27 18:51] FredericJacobs commented on #10
I'm not working with Swift currently and have a lot of things to take care of.
Happy to review a PR but not planning to write one.

[2015-03-08 13:45] dapperstout commented on #10
I also couldn't get OpenSSL to work with cocoapods 0.3.6.rc.1 in a Swift project. I tried to modify the podspec in this repo, but failed. Eventually I created a new podspec that uses the OpenSSL-for-iOS scripts from @x2on.

You can find the new Pod here: http://cocoapods.org/?q=openssl-framework

[2015-03-08 13:47] FredericJacobs commented on #10
Thanks but using precompiled libraries seems unacceptable for any open source security related projects. I'll give it a look soon and submit a PR to CocoaPods if there is something that needs to be addressed on their end.

[2015-03-08 14:46] dapperstout commented on #10
It actually isn't precompiled. The OpenSSL sources will be compiled when you do a 'pod install'.

[2015-03-12 19:27] bbsan2k commented on #10
Actually the problems seems to be at another location. Initially I thought I need to include openssl in my bridging Headers, but as it turns out, cocoapods builds framworks for all pods with ("use_frameworks!
") Flag.
The Problems seems to be, that cocoapods tries to build the Framework and actually manages to do so, but the moment you try to import it in a swift file, there are linker errors

The

[2015-03-15 14:50] dapperstout commented on #10
@bbsan2k You are right, the OpenSSL-Framework pod doesn't include an umbrella header, so you cannot directly import openssl into your swift files. I'm using the OpenSSL-Framework pod in a combined swift-objc project, where I only import OpenSSL stuff in the objc sources.

[2015-03-19 21:09] postmechanical opened #11 "OpenSSL 1.0.2 tarball has disappeared"
Installing OpenSSL (1.0.200)

	[!] Error installing OpenSSL
	[!] /usr/bin/curl -f -L -o /Users/distiller/lpm-mmd-ios/Pods/OpenSSL/file.tgz "https://www.openssl.org/source/openssl-1.0.2.tar.gz" --create-dirs

	  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

									 Dload  Upload   Total   Spent    Left  Speed

	  0     0    0     0    0     0      0      0 --:--:-

[2015-03-19 21:32] voznesenskym commented on #11
Ditto, Here it is with --verbose

-> Installing OpenSSL (1.0.200)

   $ /opt/local/bin/curl -f -L -o /Users/michael/Desktop/opensource/Signal-iOS/Pods/OpenSSL/file.tgz
   "https://www.openssl.org/source/openssl-1.0.2.tar.gz" --create-dirs
     % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                    Dload  Upload   Total   Spent    Left  Spe

[2015-03-19 21:32] FredericJacobs commented on #11
Currently working on 1.0.2a support.

[2015-03-19 21:45] voznesenskym commented on #11
Anything I can do to help?

[2015-03-19 23:50] FredericJacobs commented on #11
Added!

[2015-03-19 23:50] #11 closed

[2015-04-19 15:21] ashvar opened #12 "After pod update receiving "No such file or directory error""
Keep receiving the following error log after `pod install`:

[code]
What to do with that?

[2015-04-19 15:33] FredericJacobs commented on #12
It's an issue with the 0.37.0 beta version. I only support the pod on stable. I don't know if they are planning to going to remove the `file.tgz` file or not.

[2015-04-19 18:12] #12 closed

[2015-05-03 22:14] Xorosho commented on #11
have the same problem, there is no file by this link (https://www.openssl.org/source/openssl-1.0.2.tar.gz)

[2015-05-22 07:36] bbsan2k commented on #10
As a matter of fact, this issue seems to be related to https://github.com/CocoaPods/CocoaPods/issues/3499

[2015-06-11 16:22] AdrianaPineda opened #13 "openssl was built without bitcode. You must rebuild it with bitcode enabled"
I'm getting this warning:
URGENT: all bitcode will be dropped because [path to openssl class] was built without bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. Note: This will be an error in the future.

Can you please update the version to one that contains bitcode?

[2015-06-11 16:23] krzyzanowskim commented on #13
This is Xcode 7 beta feature

[2015-06-11 19:53] AdrianaPineda commented on #13
Yeah, its for Xcode 7 beta

[2015-06-12 11:47] massar commented on #13
Apple is moving to LibreSSL... likely APIs will become incompatible at one point too....

[2015-06-13 09:57] FredericJacobs commented on #13
@massar I don't think Apple wants dynamic linking on iOS.

Still researching the implications of Bitcode. I read about optimizations of intermediate representation code, that can be potentially an issue for time-safe functions.

[2015-06-13 10:01] FredericJacobs commented on #10
Was this resolved by CocoaPods updates?

[2015-06-13 15:54] amolloy opened #17 "Source tarball has updated"
Looks like it's up to 1.0.2c now:

https://www.openssl.org/source/openssl-1.0.2c.tar.gz

[2015-06-13 20:02] FredericJacobs commented on #17
Thanks, pushing new spec now.

[2015-06-13 20:02] #17 closed

[2015-06-26 18:11] honkmaster commented on #13
Any updates on this issue?

[2015-07-12 12:22] diomidispapas opened #19 "Wrong Link in podspec"
The link in the pod spec is outdated.
the new link is:     "http": "https://openssl.org/source/old/1.0.2/openssl-1.0.2c.tar.gz"

<img width="1226" alt="screen shot 2015-07-12 at 13 22 19" src="https://cloud.githubusercontent.com/assets/2880248/8637728/11b11b92-2899-11e5-88cc-d6e2130f9878.png">

[2015-07-12 21:27] #19 closed

[2015-07-15 19:48] honkmaster commented on #13
Maybe this site is helpful: https://forums.developer.apple.com/thread/8810 (Apple developer forum). It is necessary to add '-fembed-bitcode' to the compiler flags.

[2015-07-15 20:04] chrisballinger commented on #13
@honkmaster Thank you for the tip!

[2015-07-15 21:11] AdrianaPineda commented on #13
@honkmaster thanks I'll check it out

[2015-07-16 16:31] honkmaster commented on #13
Here is a snippet of @steipete with a working script at the end: https://gist.github.com/steipete/99f8aa8d6527fa027fd6

[2015-08-05 16:06] AdrianaPineda opened #20 "Linker warnings in Xcode 7 / iOS 9 SDK — built for newer iOS version (8.4) than being linked (8.0)"
Hi. Im getting this warnings (a lot) when building my iOS app in Xcode 7 (simulator and devices).

[code]

[2015-08-25 18:32] purrrminator commented on #20
+1

[2015-08-25 18:37] AdrianaPineda commented on #20
Any updates on this?

[2015-08-25 18:46] FredericJacobs commented on #20
You're using Xcode 7 so why aren't you linking against iOS 9?

[2015-08-25 19:18] purrrminator commented on #20
@FredericJacobs do you mean I should change podfile platform to 9.0? I've tried this and got tons of new warnings from other pods: `CocoaLumberjack.a(DDASLLogCapture.o)) was built for newer iOS version (9.0) than being linked (8.0)`

[2015-08-25 19:41] FredericJacobs commented on #20
These are warnings, will make sure to address for next version of OpenSSL (by setting a minimal SDK version). For now I wouldn't worry too much.

[2015-08-26 06:35] purrrminator commented on #20
@FredericJacobs true, harmless warnings, but there are hundreds of them spamming the issue navigator.

[2015-09-07 18:41] #20 closed

[2015-09-07 18:44] #10 closed

[2015-09-08 02:32] Whirlwind opened #21 "set the platforms in Cocoapods Spec"
The spec id not pass validation when I exec `pod spec lint`:
[code]

I found the spec have not `platforms` ! Please add below code in the spec:
[code]

On the other hand, why did you set the min version `7.0` in the `prepare_command`?
[code]

[2015-09-08 13:24] Vishal-0057 commented on #20
@FredricJacobs : I am getting the same warning though My min SDK is iOS 7.0
object file (../Branch.framework/Branch(BNCEncodingUtils.o)) was built for newer iOS version (8.3) than being linked (7.0).

I have installed Branch SDK Without Pods.

[2015-09-08 15:08] FredericJacobs commented on #20
Clear your Xcode cache and rebuild the project. It's not something related to OpenSSL.

[2015-09-09 05:54] Vishal-0057 commented on #20
I clean the code many times and built it but same warnings I am getting.

[2015-09-09 06:05] FredericJacobs commented on #20
Not my problem ;)

[2015-09-10 20:29] AdrianaPineda commented on #13
Hi! any update on this? -fembed-bitcode didnt work for me :S

[2015-09-11 01:43] FredericJacobs commented on #13
I think it's unwise to compile OpenSSL with Bitcode. Not knowing what compiler optimizations will be performed makes me really scared. Not planning to support this on this pod since it would help developers to shoot themselves in the foot.

[2015-09-11 01:43] #13 closed

[2015-09-11 17:12] AdrianaPineda commented on #13
The problem is that for watchOS apps, bitcode is mandatory. I'm stuck here, this means I can't submit my app :S

[2015-09-18 06:14] Jeff-F commented on #13
The problem is that for watchOS apps, bitcode is mandatory. I'm stuck here, this means I can't submit my app :S   --  Me too!

[2015-09-18 06:43] steipete commented on #13
Simply use the script/gist from my account that was linked here already. The world doesn't end at Cocoapods, just manually build the files for a quick solution until this is resolved.

[2015-09-25 13:26] FredericJacobs commented on #13
Here are some of the reasons why I don't think

(Granted, some arguments are less applicable than others. But introduction of side-channels is a critical issue for a crypto implementation)

[2015-09-30 12:44] purrrminator commented on #20
The issue solved for me with 1.0.204.1. Thanks.

[2015-10-01 18:37] GerTeunis opened #22 "After adding this pod the resulting binary is still linked agains /usr/lib/libcrypto.0.9.8 and /usr/lib/libssl.0.9.8"
On OS X 10.11 final

Create a new OS X Project, call it TestApplication
Quit Project
Create a podfile and add
    target :TestApplication do
        pod 'OpenSSL', '~> 1.0'
    end

Use pod install and wait for result
Open the workspace and compile the TestApplication

Use
otool -L (binary in the app bundle)
It still shows the library being linked agains the way to old /usr/lib/libcrypto.0.9.8 and

[2015-10-01 18:49] FredericJacobs commented on #22
This pod is iOS only for now.

[2015-10-01 18:50] GerTeunis commented on #22
Thanks, i just figured that out a second ago :)

[2015-10-01 20:15] GerTeunis commented on #22
Please change
s.osx.platform            = :osx
to
s.platform            = :osx

This caused the confusion

[2015-10-01 20:36] GerTeunis commented on #22
I've created a fork for OS X with a single commit needed. Might be useful to add OS X support to your podspec.

https://github.com/GerTeunis/OpenSSL-OSX-Pod/commit/de95956261f2f5d7de6e464dbf9ae08434a341ec

[2015-10-01 22:47] FredericJacobs commented on #22
Pull request welcome :)

[2015-10-07 05:07] tuoxie007 opened #23 "Enable Bitcode"

[2015-10-08 21:39] Deekor opened #25 "Documentation?"
Is there any documentation anywhere on how to use this?

[2015-10-08 23:42] FredericJacobs commented on #25
`pod install` to install after you added it to your Podfile.

For the rest, you should have access to any OpenSSL header.

[2015-10-08 23:42] #25 closed

[2015-10-26 00:46] rafcabezas commented on #23
I second this request.

[2015-10-26 07:59] FredericJacobs commented on #23
[## BitNope](https://medium.com/@FredericJacobs/why-i-m-not-enabling-bitcode-f35cd8fbfcc5)

[2015-10-26 07:59] #23 closed

[2015-10-30 00:16] rafcabezas commented on #23
I have to admit your abrupt closure of the issue seemed rude at first, but after reading your post I have to agree that the upside to bitcode is probably not worth all the implications.

[2015-12-04 09:52] dmi3j opened #26 "Issue Installing OpenSSL (1.0.204.1)"
Unable to install pod version 1.0.204.1

[code]

[2015-12-04 10:38] FredericJacobs commented on #26
Please use 1.0.205, 1.0.204.1 was pulled for security reasons.
https://www.openssl.org/news/secadv/20151203.txt

[2015-12-04 10:38] #26 closed

[2016-01-28 18:46] AdrianaPineda commented on #26
Hi!
I changed to 1.0.205 but I'm still getting the 404 error with this URL https://openssl.org/source/openssl-1.0.2e.tar.gz

[2016-01-28 20:53] SwiftArchitect opened #28 "Error installing OpenSSL (1.0.205)"
<pre>
Installing OpenSSL (1.0.205)

[!] Error installing OpenSSL
[!] /usr/bin/curl -f -L -o /var/folders/vl/q8v6pm857859gkyq1kxn1l09ffx3ct/T/d20160128-10254-12eil9y/file.tgz https://openssl.org/source/openssl-1.0.2e.tar.gz --create-dirs

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0

[2016-01-29 01:54] FredericJacobs commented on #26
@AdrianaPineda : OpenSSL just updated. Pod update should fix your issue!

[2016-01-29 01:54] FredericJacobs commented on #28
Fixed by #27

[2016-01-29 01:54] #28 closed

[2016-01-29 14:16] AdrianaPineda commented on #26
@FredericJacobs awesome! Is working now. Thanks!

[2016-02-16 09:30] swinghu commented on #26
[!] Error installing OpenSSL
[!] /usr/bin/curl -f -L -o /var/folders/gg/3xhhqth56rzctt883bbmys300000gn/T/d20160216-1916-17oezve/file.tgz https://openssl.org/source/openssl-1.0.2e.tar.gz --create-dirs

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0

[2016-02-16 09:32] swinghu commented on #26
Yes ,now should use 1.0.206,thanks

[2016-03-14 22:21] cjcaufield opened #30 "Support building with podfiles that use_frameworks!"
The OpenSSL pod doesn't work with podfiles that have the use_frameworks setting.  This means it can't be used with Swift apps or frameworks, since they require this setting.

Are there any plans or ideas about fixing this?  Thanks.

[2016-03-14 22:33] cjcaufield commented on #30
Specifically, when running pod lib lint, the following error is given:

[code]

[2016-05-03 17:19] marcelogoto opened #31 "Error installing OpenSSL (1.0.207)"
Similar to https://github.com/FredericJacobs/OpenSSL-Pod/issues/28

Could you guys please update the pod? Thanks!

[2016-05-05 16:14] #31 closed

[2016-05-05 16:20] marcelogoto opened #32 "Problem installing OpenSSL 1.0.208"
Hi guys!

I'm currently having some issues trying to install the OpenSSL pod. Oddly this error doesn't always happen, only in some PC's. Can someone shine a light on what may be causing this error?

Thanks!

[2016-05-05 17:07] FredericJacobs commented on #32
Do you have enough room on your disk?

[2016-05-05 17:10] marcelogoto commented on #32
Yes...pretty sure.

[2016-05-11 21:39] FarAndHeight commented on #32
@marcelogoto Could be a different issue, but deleting `/tmp/openssl` and re-running `pod install` worked for me.

[2016-05-12 05:30] goodbless commented on #32
@marcelogoto  i come to exactly the same issue as yours.
@FarAndHeight  where is the /tmp/openssl folder?

[2016-05-12 13:15] FarAndHeight commented on #32
@goodbless It's in the root directory.

[2016-05-12 14:26] marcelogoto commented on #32
@FarAndHeight Couldn't find this folder :(

[2016-05-24 14:55] gerald-coddut commented on #32
Uhm, just go to finder and press SHIFT+CMD+G. In the popup enter `/tmp`, you should be able to find the `openssl` folder there

[2016-05-24 16:41] marcelogoto commented on #32
@gerald-coddut Thanks, but it didn't worked for me :(

I did found the /tmp folder, but there was no openssl folder there. Tried to run pod install and the folder appeared, but the error still persists...

[2016-05-25 07:22] gerald-coddut commented on #32
Hm..I had that too; commented out the `pod 'OpenSSL...` in my Podfile, deleted the _openssl_ folder and did a `pod install` again. Afterwards did a `pod install` with OpenSSL enabled again.

[2016-05-25 12:01] gerald-coddut commented on #30
Any progress yet?
Why can't OpenSSL just be converted to a dynamic library...

[2016-05-25 14:21] marcelogoto commented on #32
Finally found what was causing this issue.

The XCode application must be named `XCode` only. If you rename to anything else (mine was `XCode 7.3` because I have different versions of it in my PC) the error will occur. So basically you'll need to set a default XCode and it will work.

Thanks everyone for your time! Hope this helps someone in the future :)

[2016-05-25 14:22] #32 closed

[2016-05-31 10:24] chenhuafeng opened #33 "call “RC4_set_key”, crash"
struct rc4_key_st key;
RC4_set_key(&key, 16, (const unsigned char *)"aaaaaaaaaaaaaaaaaaaaaaaaa");

crash!!!!!!!!!!!

[2016-05-31 11:26] FredericJacobs commented on #33
Any clue why?

Also, what do you use RC4 for?

[2016-05-31 18:44] AdrianaPineda opened #34 "WatchOS 2 support"
Hi!
Im trying to integrate this pod in my watchOS 2 target, but Im getting the following error:

ld: file is universal (5 slices) but does not contain a(n) armv7k slice: .../Pods/OpenSSL/lib/libssl.a file '.../Pods/OpenSSL/lib/libssl.a' for architecture armv7k

Do you support arch armv7k?

Thanks!

[2016-05-31 18:54] FredericJacobs commented on #34
I'll look into it tomorrow. I have a deadline soon. Thanks for reporting.

[2016-05-31 19:01] AdrianaPineda commented on #34
@FredericJacobs awesome. Thank you! If I can help you in some way, just let me know

[2016-05-31 19:15] FredericJacobs commented on #34
Adding the arch to the ARCHS list should work. But no time to test today.

https://github.com/FredericJacobs/OpenSSL-Pod/blob/master/1.0.208/OpenSSL.podspec#L20

[2016-06-01 03:53] AdrianaPineda commented on #34
@FredericJacobs I tried doing that but its not working for me. I'm testing other changes and I'll write back if it works

[2016-06-02 03:26] chenhuafeng commented on #33
project:
https://github.com/chenhuafeng/testOpenSSL

[2016-06-06 21:59] AdrianaPineda commented on #34
@FredericJacobs did you have any chance to look at this? Thanks!

[2016-06-07 17:21] FredericJacobs commented on #34
Do you have a sample project?

[2016-06-07 23:19] AdrianaPineda commented on #34
@FredericJacobs not a public one, but I can create one if you want

[2016-06-08 05:56] FredericJacobs commented on #34
@AdrianaPineda That would be helpful.

[2016-06-09 22:04] AdrianaPineda commented on #34
@FredericJacobs I did one here https://github.com/AdrianaPineda/testWatch2, let me know if it helps

[2016-06-10 07:30] FredericJacobs commented on #34
@AdrianaPineda Thanks for providing that. But I'm not getting the same error you originally reported. Can you reproduce it on the project you provided?

[2016-06-10 15:55] AdrianaPineda commented on #34
@FredericJacobs are you building it for a real device, or simulator? The error happens just when you try to run a real device

[2016-06-15 14:30] AdrianaPineda commented on #34
@FredericJacobs were you able to get the error on a real device?

[2016-06-15 15:03] FredericJacobs commented on #34
Sadly not.

What did it say after adding the new architecture to the list of build targets?

[2016-06-16 14:46] AdrianaPineda commented on #34
@FredericJacobs it takes a while and it crashes when building for armv7k

Please stand by...

/Users/apineda/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/cocoapods-0.38.2/lib/cocoapods/executable.rb:27:in `block in executable'
/Users/apineda/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/cocoapods-0.38.2/lib/cocoapods/installer/pod_source_preparer.rb:64:in `block (2 levels) in run_prepare_comman

[2016-06-16 15:26] FredericJacobs commented on #34
Looks like the issue is that Bitcode is required for watchOS, I think we'll have to make a Bitcode option for those targeting watchOS.

https://developer.apple.com/library/tvos/documentation/IDEs/Conceptual/AppDistributionGuide/AppThinning/AppThinning.html

[2016-06-20 16:11] AdrianaPineda commented on #34
@FredericJacobs do you have an ETA for this bitcode option? Thanks!

[2016-06-20 17:06] FredericJacobs commented on #34
@AdrianaPineda What crypto operation do you want to do on the Watch?

[2016-06-20 18:37] AdrianaPineda commented on #34
@FredericJacobs Im working on an app that decrypts a secret received from a server.

[2016-06-20 18:51] chrisballinger commented on #34
@AdrianaPineda You probably want to do the crypto operations on the iOS device and pass the results back and forth using the Watch Connectivity framework: https://developer.apple.com/library/watchos/documentation/WatchConnectivity/Reference/WatchConnectivity_framework/index.html#//apple_ref/doc/uid/TP40015269

[2016-06-20 19:11] FredericJacobs commented on #34
@AdrianaPineda:

Does it use AES? Do you need P256? Let me know what operation you need and we can figure it out.

[2016-06-20 20:43] AdrianaPineda commented on #34
@chrisballinger thanks. I going to try that one out :)
@FredericJacobs yes Im using AES. Im going to try to remove OpenSSL from the watch as @chrisballinger suggested and if it works then there is no need to update the pod :)

[2016-06-20 23:03] lazerwalker opened #35 "Can't pod install on OS X 10.11 / Xcode 7"
I've been trying to `pod install` a project that requires this ([Signal-iOS](http://github.com/whispersystems/signal-ios)), but it's consistently failing to build for me on my machine (OS X 10.11.4, Xcode 7). Relevant failure in the log:

[code]

Steps to reproduce:
1. `git clone http://github.com/whispersystems/signal-ios`
2. `pod install` (or `pod install --verbose`, for more fun)

There are a c

[2016-06-20 23:06] lazerwalker commented on #35
(Checking off a few "did I RTFM?" questions: as per #32, I both nuked `/tmp/openssl` and tried again, and ensured that my default Xcode binary is sensible)

[2016-06-20 23:09] lazerwalker commented on #35
And now it's working. Literally turned the computer off and on again. Computers, am I right?

[2016-06-20 23:09] #35 closed

[2016-06-21 06:53] FredericJacobs commented on #34
@AdrianaPineda I strongly recommend you to use CommonCrypto that is provided by Apple instead of OpenSSL if you're going to do crypto operations on the Watch. It's safer against some Bitcode attacks (affecting timing of crypto operations) that I wrote previously about.CommonCrypto is open-source.

[code]

[2016-06-24 18:18] AdrianaPineda commented on #34
@FredericJacobs thanks! I exclude OpenSSL for the watch app, and I was able to run on a real device.
I will definitely migrate to CommonCrypto. Thank you very much for your help!

[2016-06-24 18:38] #34 closed

[2016-07-05 15:21] flash23 commented on #34
Hi
I run in to a problem today. I am using openssl pod to generate ecc key pair in my ios app. From that key pair I generate csr using ecdsa sign... I send that to server and I get back server cert witch I sign using my ecc private key.... to get client certificate in PKCS12 format. From that point I use that PKCS12cliet cert for TLS communication....

I need to support watchos also. And from this

[2016-07-20 19:03] virtru-bjost opened #36 "Plans to include the FIPS module?"
Is there plans to include the FIPS compliant module?

[2016-07-20 23:25] FredericJacobs commented on #36
Not currently working on it and no time to work on it. If you do build it, I will take the time to review it and merge it, ideally as a [subspec](https://guides.cocoapods.org/syntax/podspec.html#subspec).

[2016-08-05 12:59] userow opened #37 "versions 1.0.200 - 1.0.207 have invalid paths to sources"
It gives out 404 when downloading non-last (1.0.208 for now) version.

-    "http": "https://openssl.org/source/openssl-1.0.2a.tar.gz",
+    "http": "https://openssl.org/source/old/1.0.2/openssl-1.0.2a.tar.gz",

through

-    "http": "https://openssl.org/source/openssl-1.0.2g.tar.gz",
+    "http": "https://openssl.org/source/old/1.0.2/openssl-1.0.2g.tar.gz",

[2016-08-05 17:10] FredericJacobs commented on #37
This was a conscious decision to prevent people from using deprecated (and likely vulnerable) OpenSSL versions.

[2016-08-05 17:10] #37 closed

[2016-08-06 11:41] userow commented on #37
Actually, the only reason why I was using 1.0.207 in my project was the fact that 1.0.208 was not assembling after downloading through CocoaPods.

1.0.207 was assembling. 1.0.200 through 1.0.203 have correct paths in CocoaPod's Specs.

So.. YES, by not giving out  pre-last version's correct path you are forcing users to use 1.0.208. ... OR ... 1.0.203.

[2016-09-06 01:52] BB9z commented on #30
@cjcaufield @gerald-coddut Have you ever tried import OpenSSL as a target dependency before the framework?

eg.

[code]

[2016-09-12 07:07] gerald-coddut commented on #30
@BB9z
Nope haven't tried it (or maybe I unconsciously did try it), but what difference will (should) it make?
The reason it fails and gives the error is because of the fact the pod generates a static library however. Not because other pods in my workspace depend on OpenSSL.

[2016-11-25 19:10] appsforall commented on #30
Same issue here. any progress or solution yet?

[2016-11-28 08:20] geraldeersteling commented on #30
@appsforall

I ended up compiling my own `openSSL.framework` as Cocoapods was just unable to provide it for me.

[2016-11-30 03:45] VesperHan opened #39 "Installing Openssl.... please stand by ..it's over.. I think install failed because my other framework has stop to install. How to fix it please..."
Using Masonry (1.0.2)
Installing OpenSSL (1.0.210)
[!] /bin/bash -c
set -e
VERSION="1.0.2j"
SDKVERSION=`xcrun --sdk iphoneos --show-sdk-version 2> /dev/null`
MIN_SDK_VERSION_FLAG="-miphoneos-version-min=7.0"

BASEPATH="${PWD}"
CURRENTPATH="/tmp/openssl"
ARCHS="i386 x86_64 armv7 armv7s arm64"
DEVELOPER=`xcode-select -print-path`

mkdir -p "${CURRENTPATH}"
mkdir -p "${CURRENTPATH}/bin"

cp "file.tgz

[2016-12-05 22:17] FredericJacobs commented on #39
`rm -rf /tmp/openssl`

and run `pod install` again

[2016-12-05 22:17] #39 closed, assigned to nobody

[2017-01-09 12:24] andreyoshev commented on #39
@FredericJacobs, same.

`rm -rf /tmp/openssl` - not working

[2017-05-25 18:47] kmarcell opened #40 "Unable to build Signal-iOS as OpenSSL moved download links"
I would like to file an issue, because OpenSSL moved the LTS version 1.0.2 to a different download location with all the unsupported versions under:
https://www.openssl.org/source/old/

Latest Podspec
https://github.com/FredericJacobs/OpenSSL-Pod/blob/master/1.0.210/OpenSSL.podspec
has outdated URL to
https://openssl.org/source/openssl-1.0.2j.tar.gz
It should be
https://www.openssl.org/source/old/

[2017-06-13 21:37] charlesmchen commented on #40
@kmarcell I've got a fork that addresses this issue.  It uses v1.0.2l.

### GitHub

https://github.com/charlesmchen/OpenSSL-Pod

### Podfile

[code]

[2017-07-04 14:24] sunnymopada commented on #30
@appsforall How did you do it? . I need to use this pod in our own pod

[2017-07-20 13:45] sunnymopada commented on #30
@geraldeersteling how can I do similar to you?

[2017-07-20 13:47] geraldeersteling commented on #30
@SanyasiraoM if I recall correctly I just compiled the `openSSL.framework` an added it to my project as an embedded framework...so _without_ Cocoapods

[2017-07-20 13:56] sunnymopada commented on #30
@geraldeersteling  Thanks for reply,

Can you point me to some reference, how to do that? I'm new bee in iOS

[2017-07-20 14:00] geraldeersteling commented on #30
Look [here](https://github.com/x2on/OpenSSL-for-iPhone), I made the framework with the shell script provided there. afterwards just add it as an embedded framework.

[2017-07-20 14:11] sunnymopada commented on #30
@geraldeersteling Thank you!

I'm also using the same. My use case is to generate pkcs12 file.  So I followed https://stackoverflow.com/questions/26883342/ios-how-to-create-pkcs12-p12-keystore-from-private-key-and-x509certificate-in/41856095#41856095

I'm able to use it in a project directly.

I created pod using http://guides.cocoapods.org/making/using-pod-lib-create.html
Now how to include opens

[2017-07-20 14:23] SanyasiraoM commented on #30
@geraldeersteling any references to include it as a embedded framework?

[2017-07-20 15:06] sunnymopada commented on #30
@geraldeersteling any references to include it as a embedded framework?

[2017-07-21 06:46] geraldeersteling commented on #30
I'm not sure what you mean; the issue was creating an `openSSL.framework` right? That can be done if you use the scripts in the link I provided earlier.
Embedding it in your project is as simple as going to your `xcodeproj` and add it under _Linked Frameworks and Libraries_ i.e.:

![screen shot 2017-07-21 at 08 46 18](https://user-images.githubusercontent.com/5538718/28452044-1d392398-6df1-11e7-8f

[2017-07-25 10:24] yvsbb95 commented on #32
@marcelogoto I have the same issue.  The /tmp/openssl folder is not there , Xcode is named Xcode only, disk is not full. Still the same error. Is there any other reason for why this is happening?

[2017-07-28 00:59] Izakc commented on #32
sudo xcode-select -switch /Applications/Xcode-7.3.1.app and remove /tmp/openssl work's for me

[2017-07-28 03:29] kartickvad commented on #32
We use XCode 8 on macOS Sierra. Does this pod not work with that configuration? Thanks.

[2017-08-07 08:29] neeraj-goyal-wibmo opened #43 "Unable to Install Pod"
Fails with below error for

`pod 'OpenSSL', '~> 1.0'`

`[!] /bin/bash -c
set -e
VERSION="1.0.2j"
SDKVERSION=`xcrun --sdk iphoneos --show-sdk-version 2> /dev/null`
MIN_SDK_VERSION_FLAG="-miphoneos-version-min=7.0"

BASEPATH="${PWD}"
CURRENTPATH="/tmp/openssl"
ARCHS="i386 x86_64 armv7 armv7s arm64"
DEVELOPER=`xcode-select -print-path`

mkdir -p "${CURRENTPATH}"
mkdir -p "${CURRENTPATH}/bin"

cp "fil

[2017-08-09 14:44] marcofeltmann commented on #32
@yvsbb95 @kartickvad There is a solution for Xcode 8 on macOS Sierra.
`rm -r ${TMPDIR}/openssl/`

As seen in the script files are written to `CURRENTPATH="${TMPDIR}/openssl"` so removing this one will reset the build process.

It really takes a while like 10 minutes or so. Do not interrupt, instead grab some more ☕️

[2017-09-20 10:22] UninhibitedSoul commented on #43
It really takes a while like 10 minutes or so. Do not interrupt, instead grab some more ☕️

[2017-10-16 08:34] mrcararia opened #44 "Pod Lint warnings: [-Wdocumentation]"
Running **pod lib lint** there are a few documentation warnings:
`- WARN  | xcodebuild:  Headers/Public/OpenSSL/openssl/ecdsa.h:295:14: warning: parameter 'flags' not found in the function declaration [-Wdocumentation]
    - NOTE  | xcodebuild:  Headers/Public/OpenSSL/openssl/ecdsa.h:295:14: note: did you mean 'name'?
    - WARN  | xcodebuild:  Headers/Public/OpenSSL/openssl/ecdsa.h:301:14: warnin

[2017-11-27 15:48] robb18 opened #45 "error: in auto-import: failed to get module from AST context:"
Install seems to be working fine, but I can no longer view variables in the debugger:

(lldb) po self
warning: Swift error in module Spoiler Alert Food Safety.
Debug info from this module will be unavailable in the debugger.

error: in auto-import:
failed to get module 'Spoiler_Alert_Food_Safety' from AST context:
/Development/Spoiler-Alert-Food-Safety/Spoiler Alert Food Safety/Spoiler Alert Food

[2017-12-22 13:50] mostafaberg commented on #43
@UninhibitedSoul What @neeraj-goyal-wibmo actually meant is that the prepare command is printed to the terminal instead of being executed by bash, seems to be a breaking change somewhere in cocoapods ? I'm seeing the same issue

[2017-12-27 07:34] mostafaberg commented on #43
@UninhibitedSoul @neeraj-goyal-wibmo I can confirm now this was an issue on MacOS High Sierra! fix is simple,run the following commands:
`sudo gem update --system`
Followed by:
`sudo gem install -n /usr/local/bin cocoapods`

This fixed my issue with the prepare_command printing to the console instead of being executed!

[2018-01-30 10:07] georgbachmann commented on #43
@mostafaberg I just updated my cocoapods like you described, but I still just see the script being printed out and then the pod update just quits?!? Any Ideas?

[2018-02-05 15:29] georgbachmann commented on #43
Anyone any ideas? Cause I can still not pod install :(

[2018-02-20 12:13] ikrenyi1 commented on #32
In my case I fixed this error by setting the command line tools in xcode -> preferences -> locations. It was blank for some reason

[2018-03-29 22:39] dungeonsnd commented on #32
The following helped me , too. Thanks !

@ikrenyi1
In my case I fixed this error by setting the command line tools in xcode -> preferences -> locations. It was blank for some reason

[2018-04-20 09:07] elenatorroglosa opened #48 "Problem in a private key conversion from JWK to PEM formats"
Hello,

I'm trying to convert a private key from JWK format (JSON) to PEM format using the openSSL library. My problem is an error in the result since it has an invalid format when I try to check the result with the openssl command line tool. I don't know if I have to ask here or in the official/original openssl repo, but maybe someone can give some guide to solve the error.

The JWK used is the f

[2018-05-08 01:34] kkkelicheng commented on #45
me too

[2018-06-09 19:55] silvansky opened #49 "Error while installing pod: "cp: file.tgz: No such file or directory""
The following line fails with  `cp: file.tgz: No such file or directory`
https://github.com/FredericJacobs/OpenSSL-Pod/blob/23a8ee9ed539dba6310e8c57ce02a368fb4aeda9/1.0.210/OpenSSL.podspec#L26

So I can't install OpenSSL pod.

[2018-06-14 09:04] Mamong commented on #49
cocoapods-downloader downloads the tgz to a temporary folder ,then exacts it and removes files to work folder. so pre command cannot find file.tgz. Code below will solve the problem.
`   cp -rf "${BASEPATH}/" "${CURRENTPATH}/openssl-${VERSION}"
    cd "${CURRENTPATH}"
    cd "openssl-${VERSION}"`

use OpenSSL-XM instead. please update your spec repo first.

[2018-06-20 19:44] wjmelements commented on #49
I also see this issue when doing pod install.

[2018-06-21 21:19] mirokuratczyk commented on #49
There seems to be an assumption in this Pod's [.podspec](https://github.com/FredericJacobs/OpenSSL-Pod/blob/master/1.0.210/OpenSSL.podspec#L26) about which directory CocoaPods will download the [source files](https://github.com/FredericJacobs/OpenSSL-Pod/blob/master/1.0.210/OpenSSL.podspec#L8) in that is broken by version 1.2.1 of cocoapods-downloader.

It seems that even using an older version of

[2018-06-22 06:04] sidan5 commented on #32
Still having this issue. Any other solution?
Trying to install OpenSSL 1.0.210, Cocoapods version 1.5.3

[2018-06-26 08:31] mostafaberg commented on #43
@georgbachmann Just noticed your message !, i think you need to check which version of cocoapods-downloader you have, i think this issue is introduced after version 1.2.0.

See relevant issue [here](https://github.com/FredericJacobs/OpenSSL-Pod/issues/49#issuecomment-399246768)

Simply install `1.2.0`:
`sudo gem install cocoapods-downloader -v 1.2.0 -n /usr/local/bin`
And then uninstall other vers

[2018-06-27 18:51] julestburt commented on #32
I too am seeing this issue. I followed these extensive steps:
https://stackoverflow.com/questions/49023709/updating-pods-not-working-which-were-working-previously-has-stopped-working?rq=1

but nothing has fixed it...

[2018-06-28 15:17] harshalkhandare commented on #32
As an alternative, use the 'OpenSSL-Universal' pod:

`pod 'OpenSSL-Universal', '~> 1.0'`

[2018-06-28 16:10] julestburt commented on #32
That is an alternative thanks - however it's another Pod we use that is bringing in OpenSSL...so not an easy switch. Just frustrating that this pod has no issue on our other two machines we develop on - just the Jenkins slave box...

[2018-06-28 16:40] harshalkhandare commented on #32
Downgrade `cocoapods-downloader` to version 1.2.0 as mentioned in
https://github.com/FredericJacobs/OpenSSL-Pod/issues/49

[2018-06-28 17:24] julestburt commented on #32
Hey - I really appreciate your time and comments. @hkhandare It worked as soon as I downgraded cocoa pods-downloader! Now we can continue building - and will work to remove dependency on this pod...

[2018-07-02 13:54] Ramesik commented on #45
Small change in rsa.h do the trick
change `96: int (*rsa_mod_exp) (BIGNUM *r0, const BIGNUM *I, RSA *rsa, BN_CTX *ctx);`
to `96: int (*rsa_mod_exp) (BIGNUM *r0, const BIGNUM *Ira, RSA *rsa, BN_CTX *ctx);`

[2018-07-04 15:29] sigmundfridge commented on #45
Can confirm. This tiny change fixes the issue

[2018-07-14 11:54] zeayal commented on #49
[code]

[2018-07-28 02:15] kevinjstewart commented on #45
Really odd. @Ramesik Thanks so much for finding this fix.

[2018-09-26 07:41] SantiPerti commented on #49
In my case, I just had to uninstall previous Homebrew Cocoapods Installation:
`brew uninstall cocoapods`
reinstall ruby gem:
`sudo gem install cocoapods`
which installed Cocoapods v1.5.3, and that issue seems fixed for this version.
`pod install`
and everything installed correctly with the right dependencies, incuding OpenSSL.

[2018-09-28 11:38] tyridw commented on #13
This is a late reply, so I suppose a lot has changed since 2015. But I ran into the same problem as initially stated, but I resolved the "You must rebuild it with bitcode enabled" problem by

1. Removing 'OpenSSL' and running pod deintegrate, pod clean etc., see
https://stackoverflow.com/questions/13751147/remove-or-uninstall-library-previously-added-cocoapods

2. Instead installing 'OpenSSL-Unive

[2018-10-31 14:25] dhadseamit commented on #32
Thanks marcelogoto,

marcelogoto is correct,your Xcode name should be default one i.e "XCode"
mine was Xcode 9.2 ,Just rename it to XCode and it works

[2018-12-21 02:28] tristandl commented on #32
@sevenbanks has the correct answer thank you! fyi if you're using bundler, just add:

`gem 'cocoapods-downloader', '1.2.0'`

to your Gemfile and run `bundle update cocoapods-downloader`

[2018-12-21 02:29] tristandl commented on #32
(or update open ssl pod and hope it's fixed?)

[2019-01-18 09:57] tcarayol commented on #39
Yep, still have issue. Please reopen.

[2019-02-22 10:59] jmfriend commented on #49
This problem continues to occur with Cocoapods 1.6.0. However, it does not seem possible to use old version of cocoapods-downloader with Cocoapods 1.6.0. Thus workaround above no longer works. I have a third-party pod with a dependency on OpenSSl, so it's not possible to use OpenSSL-XM instead. Any suggestions?

[2019-04-01 07:20] arcihrayan613 commented on #32
Can't install Open SSL 1.0.2.13 pod in my Xcode Version 9.2 , Please Help me to slove this issue.

[2019-04-03 07:45] muthukrishnanOCS opened #51 "Pod issue with Mac OS 10.14.4"
Hello @FredericJacobs ,

Please check the below issue and let me know

![Screenshot 2019-04-03 at 12 58 28 PM](https://user-images.githubusercontent.com/5507534/55461598-755dea80-5612-11e9-805b-ddb14da07f2b.png)

[2019-05-03 09:57] crontab commented on #49
The workaround is a bit more complex now: you need to downgrade Cocoapods back to 1.5.3, then cocoapods-downloader to 1.2.0. Then once you build OpenSSL, it looks like you can upgrade everything back to the latest. In the process you should probably do `pod deintegrate`, `rm -rf /tmp/openssl` before installing and running the older versions, to be sure.

[2019-05-09 17:16] polurezov8 commented on #49
@crontab You are my hero! Thanks a lot! 👨🏼‍💻👍🏻

[2019-05-10 17:08] cobear25 commented on #49
crontab's solution worked for me. So combining it with zeayal's suggestion seems to work.

`sudo gem uninstall cocoapods-downloader`
`sudo gem install cocoapods-downloader -v 1.2.0`
`sudo gem uninstall cocoapods`
`sudo gem install cocoapods -v 1.5.3`
`pod deintegrate`
`rm -rf /tmp/openssl`

Then finally a pod install succeeds haha.

[2019-06-06 12:12] anivaros commented on #49
Another workaround is use fixed version of same pod, I've found on GitHub:
`pod 'OpenSSL', :git => 'https://github.com/wzbozon/OpenSSL-Pod'`

[2019-12-12 13:01] IMHitesh commented on #49
I have the latest version of cocoapod and it's given below error.

`The following line fails with cp: file.tgz: No such file or directory`

[code]

[2020-01-28 12:38] intonarumori commented on #49
Same problem exists with CocoaPods version 1.8.4

[2020-03-01 13:09] thejeff77 commented on #49
Same problem exists with CocoaPods verion 1.9.0

@anivaros is this your repo?

Seems as if this is a serious issue for the repo - I.E. make it work with latest CocoaPods

[2020-03-01 13:15] thejeff77 commented on #40
@charlesmchen looks like this was merged, can this be closed, or do you need the repo tagged for cocoapods?

[2020-03-02 08:22] anivaros commented on #49
No, its not my repo. Just found workaround.
For now I'm using this precompiled openssl framework: https://github.com/levigroker/GRKOpenSSLFramework

[2020-03-03 00:26] thejeff77 commented on #49
Added in pull requests (fixes this issue) & mods for 1.1.1d in this fork:

https://github.com/thejeff77/OpenSSL-Pod